.task{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius: 5px;
    transition: 0.7s;
}
.task:hover{
    border: 1px solid #61dafb;
    
}
.actions{
    color: #000;
    display: flex;
    align-items: center; 
}
.actions i {
    margin:0 5px 0 5px ;
    background-color: #61dafb;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    transition: 1s;
}

.actions i:hover {
    background-color: aliceblue;
    border: 1px solid #000;
}

.details {
    margin: 10px;
}
.details h4::first-letter{
    padding-bottom: 5px;
    text-transform: uppercase;
}